@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Space+Grotesk:wght@500&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    outline: 1px solid #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    justify-items: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    
}

.square {
    background-color: #fff;
    border: 1px solid #000;
}

.color {
    background-color: #808080;
    border: 1px solid #000;
}


.gridContainer {
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid #000;
    border-radius: .5rem;
    height: 700px;
    width: 700px;
}

